/* Configurações gerais */

.search-result {
    display: flex;
    flex-direction: column;
}

.image-book {
    text-align: center;
    display: grid;
    grid-template-areas: "img icon1" "img icon2" "img icon3";
    grid-gap: 1rem;
}

.image-book a {
    grid-column: 3/4;
}

.CDD p {
    text-align: center;
    font-size: 2rem;
    color: #2da070;
    font-weight: bold;
}

.image-book img {
    grid-column: 1 / 3;
    width: 100%;
    grid-area: img;
}

.image-book a {
    display: flex;
    margin: 20px auto;
    font-size: 2rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.image-book a:hover {
    background: rgb(102, 102, 102);
}

.search-result div {
    background: #ffffff;
    padding: 0 10px;
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
    box-shadow: 0px 1px 1px #00000040;
}

.search-result div:last-child {
    margin-bottom: 10px;
}

.search-result h2 {
    font-size: 80%;
}

.registro-tipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.registro-tipo div {
    padding: 0;
}

/* pesquisa avançada */

.pesquisa-avancada {
    max-width: 500px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* resultado de livros */

.search-result-2 {
    display: grid;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

@media screen and (min-width:600px) {
    .search-result-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:900px) {
    .search-result-2 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.image-book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    width: 242px;
}

.image-book-card h4 {
    min-height: 114px;
}

.image-book-card img {
    justify-content: center;
    border: 1px solid #2da070;
    max-width: 240px;
}

.butons-options {
    display: grid;
    grid-gap: 1rem;
}

.butons-options a {
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    width: 80vw;
    max-width: 220px;
    justify-content: center;
}