/* ConfiguraÃ§Ãµes gerais */

.search-result {
    display: grid;
    margin-bottom: 10px;
    max-width: 960px;
    margin: 0 auto 10px auto;
    grid-template-areas: "imagebook" "cdd" "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10";
}

.image-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-book a {
    margin-top: 20px;
    max-width: 222px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #cecece;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.image-book i {
    font-size: 1.5rem;
}

.CDD p {
    text-align: center;
    font-size: 2rem;
    color: #2da070;
    font-weight: bold;
}

.image-book img {
    max-width: 242px;
    border: 1px solid #2da070;
}

.image-book a:hover {
    background: rgb(45, 160, 112);
    color: #fff;
}

.search-result div {
    background: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
    border: 1px solid #d8d8d8;
    /* box-shadow: 0px 1px 1px #00000040; */
}

.search-result div:last-child {
}

.search-result h2 {
    font-size: 80%;
}

.image-book {grid-area: imagebook;}
.CDD {grid-area: cdd;}
.item1 {grid-area: item1;}
.item2 {grid-area: item2;}
.item3 {grid-area: item3;}
.item4 {grid-area: item4;}
.item5 {grid-area: item5;}
.item6 {grid-area: item6;}
.item7 {grid-area: item7;}
.item8 {grid-area: item8;}

@media screen and (min-width:600px) {
    .search-result {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "imagebook cdd" 
        "imagebook item1" 
        "imagebook item2" 
        "imagebook item3" 
        "item4 item4"
        "item5 item6"
        "item7 item8"
        "item9 item10"
    }
}

@media screen and (min-width:900px) {
    .search-result {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "imagebook cdd cdd item1" 
        "imagebook item2 item2 item2" 
        "imagebook item4 item4 item4" 
        "imagebook item5 item3 item6" 
        "item7 item8 item9 item10"
    }
}

.registro-tipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.registro-tipo div {
    padding: 0;
}

/* pesquisa avanÃ§ada */

.pesquisa-avancada {
    max-width: 500px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* resultado de livros */

.search-result-2 {
    display: grid;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

@media screen and (min-width:600px) {
    .search-result-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:900px) {
    .search-result-2 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.image-book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    width: 242px;
}

.image-book-card h4 {
    min-height: 114px;
}

.image-book-card img {
    justify-content: center;
    border: 1px solid #2da070;
    max-width: 240px;
}

.butons-options {
    display: grid;
    grid-gap: 1rem;
}

.butons-options a {
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    width: 80vw;
    max-width: 220px;
    justify-content: center;
}

/* Pesquisa AvanÃ§ada */

.advanced-search {
    max-width: 960px;
    display: grid;
    grid-template-areas: "titulo" "autor" "assunto" "ano" "ate" "local" "editora" "material";
    grid-gap: .5rem;
}

#pesquisa-avancada {width: 200px;height: 40px;outline: none;background: #2da070;margin: 20px auto;display: flex;justify-content: center;border: none;color: #ffffff;text-transform: uppercase;border-radius: 5px;}

@media screen and (min-width: 450px) {
    .advanced-search {
        grid-template-areas: 
        "titulo titulo" 
        "autor assunto" 
        "ano ate" 
        "local editora" 
        "material material";
    }
}

@media screen and (min-width: 770px) {
    .advanced-search {
        grid-template-areas: 
        "titulo titulo autor autor"
        "assunto assunto ano ate" 
        "local editora material material";
    }
}

.advanced-search div {
    display: flex;
    flex-direction: column;
}

.titulo {grid-area: titulo;}
.autor {grid-area: autor;}
.assunto {grid-area: assunto;}
.local {grid-area: local;}
.editora {grid-area: editora;}
.ano {grid-area: ano;}
.ate {grid-area: ate;}
.material {grid-area: material;}